[Unit]
Description=Engity's Bifröst is an SSH server which provides authorization and authentication via OpenID Connect and classic mechanisms to access a real host.
Requires=docker.service
After=docker.service

[Service]
# Adjust this line to your needs which edition/version of Bifröst should be used.
# Visit https://bifroest.engity.org/setup/distribution/#image for more details.
Environment=IMAGE=ghcr.io/engity-com/bifroest:latest
# Comment this line out if you don't want always the latest version of Bifröst
ExecStartPre=/usr/bin/docker pull ${IMAGE}
ExecStartPre=/usr/bin/mkdir -p /var/lib/engity/bifroest
ExecStart=/usr/bin/docker run --rm --name bifroest -p 22:22 -v /var/run/docker.sock:/var/run/docker.sock -v /etc/engity/bifroest:/etc/engity/bifroest -v /var/lib/engity/bifroest:/var/lib/engity/bifroest ${IMAGE} run --log.colorMode=always
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
