[Unit]
Description=Engity's Bifröst is an SSH server which provides authorization and authentication via OpenID Connect and classic mechanisms to access a real host.
Wants=network.target

[Service]
ExecStart=/usr/bin/bifroest run
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
