site_name: Engity's Bifröst
site_dir: var/doc
site_url: https://bifroest.engity.org/
repo_url: https://github.com/engity-com/bifroest
repo_name: engity-com/bifroest
edit_uri: edit/main/docs/
docs_dir: docs
copyright: Copyright © 2024 <a href="https://engity.com">Engity GmbH</a>
strict: false

plugins:
  - search
  - inline-svg
  - macros:
      module_name: docs/.theme/marcos/main
      j2_block_start_string: '<%'
      j2_block_end_string: '%>'
      j2_variable_start_string: '<<'
      j2_variable_end_string: '>>'
      on_error_fail: true
      on_undefined: strict

hooks:
  - docs/.theme/hooks/main.py

markdown_extensions:
  - abbr
  - admonition
  - def_list
  - attr_list
  - footnotes
  - tables
  - toc:
      toc_depth: 5
  - pymdownx.extra
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.highlight:
      linenums: true
      use_pygments: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.blocks.html

extra:
  version:
    provider: mike
  generator: false
  social_banner: assets/social-banner.png
  social:
    - name: GitHub
      icon: fontawesome/brands/github
      link: https://github.com/engity-com/bifroest/
    - name: LinkedIn
      icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/engity/
    - name: Engity
      icon: engity
      link: https://engity.com
  footer:
    links:
      - name: Legal Notice
        link: https://engity.com/legal-notice/
      - name: License
        link: legal/license.md
extra_css:
  - assets/extra.css

theme:
  custom_dir: docs/.theme
  name: material
  language: en
  logo: assets/icon.svg
  favicon: assets/favicon.svg
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye

  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  features:
    - navigation.tabs
    - navigation.path
    #- toc.integrate
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.tooltips
    - content.code.annotate
    - toc.follow

nav:
  - Home:
      - Welcome: index.md
      - Use cases: usecases.md
  - Getting started:
      - setup/index.md
      - Installation:
          - On Host: setup/on-host.md
          - In Docker: setup/in-docker.md
      - setup/distribution.md
      - Security: setup/security.md
      - License: legal/license.md
  - Reference:
      - reference/index.md
      - reference/configuration.md
      - Connections:
          - reference/connection/index.md
          - SSH: reference/connection/ssh.md
      - reference/flow.md
      - Authorizations:
          - reference/authorization/index.md
          - Local: reference/authorization/local.md
          - OIDC: reference/authorization/oidc.md
          - Simple: reference/authorization/simple.md
          - Htpasswd: reference/authorization/htpasswd.md
          - None: reference/authorization/none.md
      - Environments:
          - reference/environment/index.md
          - Docker: reference/environment/docker.md
          - Local: reference/environment/local.md
      - Sessions:
          - reference/session/index.md
          - Filesystem: reference/session/fs.md
      - reference/housekeeping.md
      - reference/alternatives.md
      - reference/cli.md
      - Templating:
          - reference/templating/index.md
      - Context Objects:
          - reference/context/index.md
          - Alternative Binary: reference/context/alternative-binary.md
          - Authorization: reference/context/authorization.md
          - Authorization Request: reference/context/authorization-request.md
          - Connection: reference/context/connection.md
          - Core: reference/context/core.md
          - Local Group: reference/context/local-group.md
          - Local User: reference/context/local-user.md
          - OIDC Token: reference/context/oidc-token.md
          - OIDC ID Token: reference/context/oidc-id-token.md
          - OIDC User Info: reference/context/oidc-user-info.md
          - Preparation Process: reference/context/preparation-process.md
          - Remote: reference/context/remote.md
          - Simple Entry: reference/context/simple-entry.md
      - reference/data-type.md
  - Community:
      - Community: community/index.md
      - Issues: https://github.com/engity-com/bifroest/issues
      - Discussions: https://github.com/engity-com/bifroest/discussions
      - Contributing: community/contributing.md
      - Code of Conduct: community/code-of-conduct.md
