<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.engity.bifroest</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/bifroest</string>
        <string>run</string>
        <string>--configuration=/Library/Application Support/Engity/Bifroest/configuration.yaml</string>
        <string>--log.colorMode=never</string>
    </array>
    <key>UserName</key>
    <string>root</string>
    <key>GroupName</key>
    <string>wheel</string>
    <key>WorkingDirectory</key>
    <string>/Library/Application Support/Engity/Bifroest</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ThrottleInterval</key>
    <integer>10</integer>
    <key>ExitTimeOut</key>
    <integer>60</integer>
    <key>StandardOutPath</key>
    <string>/Library/Logs/Engity/Bifroest/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Library/Logs/Engity/Bifroest/stderr.log</string>
    <key>Umask</key>
    <integer>23</integer>
</dict>
</plist>
