name: Continuous Integration

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  BIFROEST_VENDOR: "Engity GmbH"

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  files-changed:
    name: Detect file changes
    runs-on: ubuntu-latest
    outputs:
      go: ${{ steps.changes.outputs.go }}
      docs: ${{ steps.changes.outputs.docs }}
      any: ${{ steps.changes.outputs.any }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Check for backend file changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: .github/filters.yml

  evaluate:
    name: Evaluate
    runs-on: ubuntu-latest
    outputs:
      commit: "${{ steps.refs.outputs.commit }}"
      version: "${{ steps.refs.outputs.version }}"
      ref: "${{ steps.refs.outputs.ref }}"
      pr: "${{ steps.refs.outputs.pr }}"
      stage-binary: "${{ steps.refs.outputs.stage-binary }}"
      stage-archive: "${{ steps.refs.outputs.stage-archive }}"
      stage-image: "${{ steps.refs.outputs.stage-image }}"
      stage-digest: "${{ steps.refs.outputs.stage-digest }}"
      stage-publish: "${{ steps.refs.outputs.stage-publish }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Cache Go
        uses: actions/cache@v5
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install MISE
        uses: jdx/mise-action@v3

      - name: Execute
        id: refs
        run: |
          mise run ci:evaluate-environment

  test:
    name: Tests
    needs: [ evaluate, files-changed ]
    if: needs.files-changed.outputs.go == 'true'
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Ubuntu dependencies
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo apt update && sudo apt install libpam0g-dev

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Cache Go
        uses: actions/cache@v5
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install MISE
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: mise run install:go

      - name: Test
        run: mise run test:go

      - name: Send coverage
        if: false
        uses: coverallsapp/github-action@v2
        with:
          parallel: true
          flag-name: go-${{ matrix.os }}
          format: golang
          file: profile.cov

  package:
    name: Package
    needs: [ evaluate, files-changed ]
    if: needs.files-changed.outputs.go == 'true'
    runs-on: "ubuntu-latest"
    container:
      image: ghcr.io/engity-com/build-images/go
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Cache Go
        uses: actions/cache@v5
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install MISE
        uses: jdx/mise-action@v3

      - name: Cache images dependencies
        uses: actions/cache@v5
        with:
          path: .cache/dependencies/images
          key: images-dependencies
          restore-keys: images-dependencies

      - name: Git configure
        run: git config --global --add safe.directory $(pwd)

      - name: Install dependencies
        run: mise run install:go

      - name: Build
        run: mise run build:go

      - name: Archive package results
        if: needs.evaluate.outputs.stage-publish == 'true'
        uses: actions/upload-artifact@v6
        with:
          retention-days: 1
          name: dist
          path: |
            var/dist/**/*

  documentation:
    name: Documentation
    needs: [ evaluate, files-changed ]
    if: needs.files-changed.outputs.docs == 'true'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Create temp repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: true
          path: var/doc

      - name: Setup Git
        working-directory: var/doc
        run: |
          git config user.email "info@engity.com"
          git config user.name  "Engity Bot"

      - name: Prepare temp repository
        working-directory: var/doc
        run: |
          git branch -d temp-deploy || true
          git switch --orphan temp-deploy

      - name: Cache
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: ${{ hashFiles('docs/requirements.txt') }}

      - name: Install MISE
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: mise run install:docs

      - name: Build
        run: mise run build:docs

      - name: Deploy
        if: needs.evaluate.outputs.stage-publish == 'true' && needs.evaluate.outputs.pr
        working-directory: var/doc
        run: |
          git add -A
          git commit -m "Release PR-${{ needs.evaluate.outputs.pr }}"
          git push --delete origin "docs/pr-${{ needs.evaluate.outputs.pr }}" || true
          git tag -d "docs/pr-${{ needs.evaluate.outputs.pr }}" || true
          git tag -a "docs/pr-${{ needs.evaluate.outputs.pr }}" -m "Release PR-${{ needs.evaluate.outputs.pr }}"
          git push origin "docs/pr-${{ needs.evaluate.outputs.pr }}"
          echo "Documentation is available at https://bifroest.engity.org/pr-${{ needs.evaluate.outputs.pr }}/" >> "$GITHUB_STEP_SUMMARY"
