name: Lint
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

permissions:
  contents: read

jobs:
  files-changed:
    name: Detect file changes
    runs-on: ubuntu-latest
    outputs:
      go: ${{ steps.changes.outputs.go }}
      docs: ${{ steps.changes.outputs.docs }}
      any: ${{ steps.changes.outputs.any }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Check for backend file changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: .github/filters.yml

  golangci:
    name: "golangci-lint"
    needs: [ files-changed ]
    if: needs.files-changed.outputs.go == 'true'

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install MISE
        uses: jdx/mise-action@v3

      - name: Install Ubuntu dependencies
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: sudo apt update && sudo apt install libpam0g-dev

      - name: Install Go dependencies
        run: mise run install:go

      - name: Lint Go
        run: mise run lint:go
