name: Pull-Requests Updates

env:
  GITHUB_TOKEN: ${{ github.token }}

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{github.event.number}}

on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - closed

jobs:
  build:
    runs-on: ubuntu-latest
    name: Inspect
    if: github.event_name == 'pull_request'
    permissions:
      pull-requests: read
      actions: write
      packages: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Cache Go
        uses: actions/cache@v5
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install MISE
        uses: jdx/mise-action@v3

      - name: Execute
        id: refs
        run: mise run ci:inspect-pr-action "${{github.event.action}}" "${{github.event.number}}" "${{github.event.label.name}}"
